.black-mountain {
  /* padding: 20px 30px; */
  color: black;
  /* position: fixed; */
}

.black-mountain .col-md-4 {
  padding: 0 5px;
}

.bm-notes p {
  font-size: 13px;
}
.bm-title {
  font-size: 13px;
}
.order-1{
  order:-1;
}
.no-padding{
  padding-left: 0;
  padding-right: 0;
}


.popup{
  width: 100%;
}
.popup-big{
  width: 100%;
}


.height-md-100 {
  height: 100%;
}

.height-md-50 {
  height: 50%;
}


.height-md-40 {
  height: 40%;
}


.height-md-60 {
  height: 60%;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  .height-md-50 {
    height: 100%;
  }
  
  
  .height-md-40 {
    height: 100%;
  }
  
  
  .height-md-60 {
    height: 100%;
  }

  .popup{
    width: 250px;
  }
  .popup-big{
    width: 500px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .height-md-50 {
    height: 50%;
  }
  
  
  .height-md-40 {
    height: 40%;
  }
  
  
  .height-md-60 {
    height: 60%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .height-md-50 {
    height: 50%;
  }
  
  
  .height-md-40 {
    height: 40%;
  }
  
  
  .height-md-60 {
    height: 60%;
  }
  /* .black-mountain{
    position: fixed;
  } */
  .order-1{
    order:0;
  }
  

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1440px) { 
  .bm-notes p {
    font-size: 15px;
  }
  .bm-title {
    font-size: 15px;
  }
  
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 2000px) { 
  .bm-notes p {
    font-size: 25px;
  }
  .bm-title {
    font-size: 25px;
  }
  
}