.black-mountain {
  /* padding: 20px 30px; */
  color: black;
  /* position: fixed; */
}

.black-mountain .col-md-4 {
  padding: 0 5px;
}

.bm-notes p {
  font-size: 13px;
}

.order-1{
  order:-1;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .black-mountain{
    position: fixed;
  }
  .order-1{
    order:0;
  }
  

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}