.circle-background {
  height: 100%;
  width: 100%;
  margin: 1%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

.circle-background h3 {
  text-align: center;
  margin-top: 40%;
  color: #fff;
  font-size: 36px;
}
